@import './variables.scss';
@import './nav.scss';
@import './login.scss';
@import './signup.scss';
@import './guide.scss';
@import './notice.scss';
@import './moban.scss';
@import './siderbar.scss';
@import './card.scss';
@import './font.scss';
@import './element-ui.scss';

body {
  margin: 0;
  padding: 0;
  font-size: $baseFontSize;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-align: center;
  color: $baseFontColor;
  position: relative;
}

html {
  //height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  //color: #fff;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

ul,
li,
dt,
dl,
dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

label {
  font-weight: 700;
}

.block {
  display: block;
  overflow: hidden;
}

.bluebg {
  background: #409EFF;
}

.comwraptitle {
  padding: 20px 0;
  overflow: hidden;
  .comwraplogo {
    width: auto;
    display: inline-block;
    float: left;
    text-align: center;
    p {
      line-height: 36px;
    }
  }
  .emplist {
    margin-top: 10px;
  }
}

.isActive {
  color: #409EFF;
}

.vtypespan {
  cursor: default;
  padding: 10px 10px;
}

.vflist {
  padding: 10px 0 0 20px;
  li {
    line-height: 18px;
  }
}

.empitemwrap {
  .empitemtitle {
    background: #f2f3f4;
    line-height: 50px;
    font-size: 16px;
    z-index: 999;
    color: #333;
    text-indent: 20px;
    cursor: pointer;
    height: 50px;
    display: block;
    margin: 0 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .empsectionwrap {
    .pitem {
      position: relative;
      overflow: hidden;
      padding: 0 0 10px 25px;
      line-height: 36px;
      cursor: pointer;
    }
  }
}

.bottomwins {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  z-index: 99;
}

.empform {
  .el-input__icon {
    /* width: 16px;
    height: auto; */
    margin-top: 6px;
    display: inline-block;
    /* img{
      width: 100%;
    } */
  }
  .el-input__inner {
    text-indent: 10px;
  }
  .empborder {
    position: relative;
    .el-select {
      width: 100%;
      .el-input__inner {
        padding-left: 40px;
      }
    }
    .defaulticon {
      margin-top: 6px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 10px;
      z-index: 99
    }
  }
}
.closewrap{
  color: #be0a0a;
  position: absolute;
  top: 0;
  right: 0
}
.minheight100{
  min-height: 100px;
}
.processlist {
  margin: 10px 0;
  li {
    line-height: 40px;
    background: #d1d1d1;
    display: inline-block;
    color: #fff;
    position: relative;
    /*margin-right: 20px;
        padding: 0px 20px;*/
    text-align: center;
    &:after {
      content: '';
      display: block;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #d1d1d1;
      position: absolute;
      right: -20px;
      top: 0;
    }
    &:before {
      content: '';
      display: block;
      border-top: 20px solid #d1d1d1;
      border-bottom: 20px solid #d1d1d1;
      border-left: 20px solid #fff;
      position: absolute;
      left: 0px;
      top: 0;
    }
  }
  li.active {
    background: #50abe4;
    &:after {
      content: '';
      display: block;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #50abe4;
      position: absolute;
      right: -20px;
      top: 0;
    }
    &:before {
      content: '';
      display: block;
      border-top: 20px solid #50abe4;
      border-bottom: 20px solid #50abe4;
      border-left: 20px solid #fff;
      position: absolute;
      left: 0px;
      top: 0;
    }
  }
  li:first-child {
    border-radius: 4px 0 0 4px;
    z-index: 3;
    width: 32%;
    &:before {
      display: none;
    }
  }
  li:nth-child(2) {
    z-index: 2;
    /*left: -20px;*/
    left: 0;
    width: 33%;
  }
  li:last-child {
    border-radius: 0px 4px 4px 0px;
    z-index: 1;
    /*left: -40px;*/
    left: 0;
    width: 33%;
    &:after {
      display: none;
    }
  }
}

.eborder {
  border-radius: 4px;
  min-height: 36px;
  border: 1px solid #dcdfe6;
  text-align: center;
  position: relative;
  .el-input__icon {
    margin-top: 0;
    position: absolute;
    top: 7px;
    left: 6px;
  }
}

.emplist {
  width: auto;
  height: auto;
  border: 1px solid #dedfe0;
  border-radius: 3px;
  overflow: hidden;
  float: right;
  li {
    width: 29px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #fff;
    float: left;
    cursor: pointer;
    &.active {
      color: #fff;
      background: #868686;
    }
  }
}

.barlist {
  width: 100%;
  height: auto;
  overflow: hidden;
  dt {
    height: 48px;
    line-height: 48px;
    width: 100%;
    font-size: 18px;
    text-indent: 20px;
    color: #444;
    border-bottom: 1px solid #e7e8e9;
  }
  dd {
    height: 48px;
    line-height: 48px;
    width: 100%;
    font-size: 14px;
    text-indent: 20px;
    color: #333;
    position: relative;
    .bluelines {
      width: 4px;
      height: 100%;
      background: #308ce8;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.active {
      background: #f2f3f4;
      .bluelines {
        display: block;
      }
    }
  }
}

.emptreewrap {
  padding: 20px 0;
  .el-tree-node__content {
    .el-tree-node__label {
      background: url('../assets/img/root.png') left center no-repeat;
      text-indent: 24px;
    }
  }
  .el-tree-node__children {
    .el-tree-node__label {
      background: url('../assets/img/spot.png') left center no-repeat;
      text-indent: 24px;
    }
  }
}

.approvewrap {
  border: 1px solid #ccc; //
  .regions-top {
    border-bottom: 1px #b5b5b5 solid;
    background-color: #f6f6f6;
    h3 {
      line-height: 36px;
      color: #444;
      padding: 0 24px;
      position: relative;
    }
  }
  .regions-body {
    background-color: #fff;
    padding: 18px 18px 10px;
  }
  .region-logo {
    display: inline-block;
    overflow: hidden;
    padding: 10px 20px;
    img {
      float: left;
      margin: 10px 0;
    }
    strong {
      float: left;
      color: #444;
      text-indent: 24px;
      line-height: 80px;
      font-weight: lighter;
    }
    .el-button {
      margin: 24px 0 0 20px;
    }
  }
}

.approveitem {
  display: inline-block;
  float: left;
  position: relative;
  text-align: center;
  margin: 10px;
  .closeicon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 8px;
  }
  .approveitemtext {
    border-radius: 2px;
    font-size: 14px;
    line-height: 28px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 26px;
    cursor: pointer;
    background-color: #8bb9e7;
    color: #fff;
  }
}

.rolemenuwrap {
  overflow: hidden;
  .roleleft,
  .roleright {
    width: 50%;
    height: auto;
    min-height: 300px;
    overflow: hidden;
    display: inline-block;
    float: left;
  }
}

.roletitle {
  color: #111;
  font-size: 18px;
  line-height: 42px;
}

.roleitem {
  border-radius: 2px;
  background-color: #ebebeb;
  float: left;
  font-size: 14px;
  line-height: 28px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0 26px;
  cursor: pointer;
  &.selected {
    background-color: #8bb9e7;
    color: #fff;
  }
}

.exportwrap {
  overflow: hidden;
  .exportwrap-left,
  .exportwrap-right {
    display: inline-block;
    float: left
  }
  .exportwrap-left {
    padding: 20px 30px 0 20px;
  }
  .exportwrap-right {
    padding: 20px 30px 0 20px;
  }
}

.dphotowrap {
  width: 120px;
  height: 120px;
  float: left;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  &.cbg {
    background: #c5c5c5;
  }
  .dphoto-img {
    width: 100%;
    height: 100%;
  }
  .dphotomask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    color: #d00509;
    i {
      margin-top: 30px;
    }
  }
}

.lh36 {
  line-height: 36px;
}

.lh60 {
  line-height: 60px;
}

.noboxshadow {
  box-shadow: 0 0 0 0 #b7bcc1 !important;
}
.hsection{
  .hstitle{
    height: 50px;
    border-bottom: 1px solid #ccc;
  }
}
.photo-item-wrap {
  width: 164px;
  height: auto;
  float: left;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background: #fff;
  margin-bottom: 20px;
  margin-right: 10px;
  border: 1px solid transparent;
  .photo-item-img {
    width: 162px;
    height: 162px;
    img {
      max-width: 100%;
    }
  }
  .photo-edit {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    line-height: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    z-index: 999;
  }
  .photo-item-mask {
    width: 162px;
    height: 162px;
    background: rgba(0, 0, 0, .25);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 990;
    color: #f13333;
    text-align: center;
    i {
      margin-top: 40px;
    }
  }
}

.links {
  color: #428bca;
}

.paddingl100 {
  padding-left: 100px;
}

.paddingl80 {
  padding-left: 80px;
}

.exportbomtip {
  line-height: 36px;
}

.svg_icon {
  width: 20px;
  height: 20px;
}

.last_inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%;
  span {
    position: relative;
    padding: 5px 5px;
    background: #eceff4;
    border-radius: 3px;
    color: #333;
    text-align: center;
    font-size: 12px;
    margin-right: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

.left {
  text-align: left;
}

.set-title {
  height: 48px;
  line-height: 48px;
  text-indent: 20px;
  font-size: 18px;
  margin: 0;
}
.border{
  border: 1px solid #e7e8e9;
}
.marginr10{
  margin-right: 5px;
}
.borderbom {
  border-bottom: 1px solid #e7e8e9;
}

.codetitle {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  span {
    width: auto;
    float: left;
    height: 50px;
    border-bottom: 3px solid #333;
  }
}

.mangericon {
  background: #f9c824;
  font-size: 12px;
  color: #fff;
  padding: 1px 2px;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.btnsection {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.codecontent {
  margin: 30px auto;
  font-size: 14px;
  color: #666;
  span {
    color: #666;
    strong {
      font-size: 16px;
      font-weight: 400;
      color: #000;
    }
  }
}

.fa {
  margin: 0 5px;
}

.baseversion {
  text-align: center;
  h3 {
    font-size: 20px;
    color: #2c7de5;
    margin-top: 10px;
  }
  img {
    margin: 40px auto 40px auto;
  }
  p {
    font-size: 14px;
    color: #333;
  }
}

.noedit {
  pointer-events: none;
  opacity: .6;
  filter: alpha(opacity=60);
}

.mdetailwrap {
  position: relative;
  .goback {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #409eff;
  }
}

.previewwrap {
  width: 388px;
  height: 285px;
  position: relative;
  margin: 0 auto;
  background: url('../assets/img/mes_ipad.jpg') center center no-repeat;
}

.tips {
  height: 40px;
  line-height: 40px;
  color: #F71106;
  margin-top: 20px;
  text-align: center;
}

.messagedetail {
  position: absolute;
  top: 153px;
  left: 60px;
  width: 247px;
  height: auto;

  .messtop {
    width: 100%;
  }
  .messmid {
    width: 243px;
    margin-left: 4px;
    padding: 10px 20px;
    background: #e5e5ea;
    border-radius: 20px;
  }
  .messbom {
    width: 100%;
  }
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.emailradiowrap {
  .el-radio {
    margin: 10px 0;
  }
  .el-radio+.el-radio {
    margin-left: 0;
  }
}

.inline {
  display: inline-block;
}

.comlogowrap {
  display: inline-block;
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px 0;
  cursor: default;
  margin-right: 15px;
  margin-top: 9px;
  width: auto;
  min-width: 168px;
  height: auto;
  min-height: 52px;
  float: left;
  img {
    width: auto;
    height: auto;
  }
}

.color-set-wrap {
  position: relative;
  .colortext {
    margin: 0 20px;
  }
  .colorbtn.el-button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 24px;
    overflow: hidden;
    color: #fff;
    font-size: 16px;
  }
  .color-item {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
    margin: -10px 8px -10px 0;
  }
  .el-color-picker {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .el-color-picker__trigger {
    width: 120px;
    height: 40px;
    border: none;
    .el-color-picker__color {
      border: none;
      border-radius: 24px;
      overflow: hidden;
    }
    .el-color-picker__icon {
      display: none;
    }
  }
}

.inputwidth220 {
  width: 220px;
}

.comitemwrap {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border: none;
  }
  .comlogo {
    width: 46px;
    height: 46px;
    display: inline-block;
    float: left;
    border: 1px solid #e7e8e9;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .comname {
    width: auto;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    color: #444;
    margin-left: 20px;
    display: inline-block;
    float: left;
  }
  .el-button {
    padding: 12px 10px;
  }
}

.gtitle {
  text-indent: 20px;
  line-height: 60px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.roletreewrap {
  padding: 20px 0;
  .el-tree-node__label {
    background: url('../assets/img/roleroot.png') left center no-repeat;
    text-indent: 24px;
  }
  .el-tree-node__children {
    .el-tree-node__label {
      background: url('../assets/img/role.png') left center no-repeat;
      text-indent: 24px;
    }
  }
}

.arrowitem {
  display: inline-block;
  float: left;
  &.arrows {
    padding: 25px 0 0 20px;
  }
}

.visitsetwrap {
  border: 1px solid #ccc;
  padding: 20px;
  .visitsetitem {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    position: relative;
    &:last-child {
      border: none;
    }
  }
  .setitembom {
    color: #000;
    cursor: pointer;
    margin-right: 10px;
    i {
      color: #56aad5;
      margin-right: 10px;
    }
    img {
      margin: 5px 10px -3px 0;
    }
  }
  .arrange {
    position: absolute;
    right: 0;
    top: 20px;
    width: 24px;
    height: auto;
    overflow: hidden;
    span {
      width: 24px;
      height: 14px;
      display: block;
      cursor: pointer;
      margin: 0;
      color: #56aad5;
      &.disabled {
        opacity: .3;
      }
    }
    .up {
      margin-bottom: 3px;
      background: url('../assets/img/up.png') center center no-repeat;
    }
    .down {
      background: url('../assets/img/down.png') center center no-repeat;
    }
  }
}

.block {
  clear: both;
  display: block;
}

div.mce-edit-area {
  height: auto;
  min-height: 200px;
  iframe {
    height: auto!important;
    min-height: 200px!important;
  }
}

.el-button--redfont {
  color: #f56c6c;
  border: none;
  background: none;
}

.versionrecord {
  width: auto;
  display: inline-block;
  float: left;
  margin: 14px 24px 0 20px;
  position: relative;
  cursor: pointer;
  .versionleft {
    height: 22px;
    width: auto;
    background: url('../assets/img/versionl.png') left center no-repeat;
    padding-left: 10px;
    .versionright {
      height: 22px;
      width: auto;
      background: url('../assets/img/versionr.png') right center no-repeat;
      padding-right: 10px;
      .versionmiddle {
        height: 22px;
        line-height: 22px;
        min-width: 30px;
        width: auto;
        text-align: center;
        background: url('../assets/img/versionm.png') left center repeat-x;
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

.gatelist {
  width: 100%;
  max-height: 120px;
  border: 1px solid #ccc;
  overflow: auto;
  li {
    padding: 0 10px;
    line-height: 37px;
    .el-checkbox {
      margin-right: 6px;
    }
    &:nth-child(2n) {
      background: #fff;
    }
    &:nth-child(2n+1) {
      background: #d5e8fc;
    }
  }
}

.exportwap {
  border: 1px solid #c1c1c1;
  padding: 0 30px;
  .exsection {
    border-bottom: 1px solid #c1c1c1;
    position: relative;
    display: block;
    padding: 20px 0;
    color: #333;
    label {
      width: 18px;
      height: 18px;
      float: right;
      position: absolute;
      right: 0;
      top: 20px; //background: url(../img/choice/c1_off.png) left center no-repeat;
      input {
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
      }
      &.on {
        //background: url(../img/choice/c1_on.png) left center no-repeat;
      }
    }
  }
}


































/* page-container */

.page-container {
  clear: both;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding: 20px 0;
}

.marginbom20 {
  margin-bottom: 20px;
}

.right {
  float: right;
}

.page-footer {
  margin: 30px 0;
}

.margintop20 {
  margin-top: 20px;
}

.left-top-list {
  overflow: hidden;
  padding: 0;
  list-style: none;
  li {
    cursor: pointer;
    width: 222px;
    font-size: 16px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 12px 0;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #666;
    position: relative;
    span {
      display: block;
    }
    .v {
      font-size: 20px;
    }
    .d {
      font-size: 16px;
      font-weight: 400;
    }
    &.active {
      color: #67bf6b;
      font-weight: 700;
      border-color: #67bf6b;
      .arrow {
        width: 26px;
        height: 26px;
        background: url('../assets/img/tick_s.png') left top no-repeat;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
      }
    }
  }
}

.marginlr20 {
  margin-left: 20px;
  margin-right: 20px;
}

.margintb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.marginr20 {
  margin-right: 20px;
}

.tiplink {
  line-height: 36px;
}

.box-section {
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0.5px 0.87px 4px 0 #b7bcc1;
  overflow: hidden;
}

.page-container-center {
  width: 1200px;
  margin: 0 auto;
}

.exportbom {
  p {
    line-height: 36px;
  }
}

.vphotowrap {
  .vphoto {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .vname {
    height: 28px;
    line-height: 28px;
    float: left;
    display: inline-block;
  }
}

.bommoban {
  .title {
    height: 36px;
    line-height: 36px;
  }
}



































/* button */

.el-button--redline {
  color: #e33636;
  border-color: #e33636;
}

.box-card {
  text-align: left;
  .el-card__header {
    padding: 5px 20px;
    background: rgb(238, 238, 238);
  }
}
.width100{
  width: 100%;
}
.center{
  text-align: center;
}
.head-logo {
  line-height: 60px;
  color: #fff;
  font-size: 36px;
  display: inline-block;
  float: left;
}





.visitwrap {
  overflow: hidden;
  &:nth-child(2n+1) {
    background: #fff;
  }
  &:nth-child(2n) {
    background: #f9f9f9;
  }
  .vavatar {
    width: 144px;
    height: 144px;
    float: left;
    overflow: hidden;
    margin-right: -100%;
    position: relative;
    z-index: 99;
    img {
      width: 100%;
    }
    .vstatus {
      position: absolute;
      top: 4px;
      left: -20px;
      padding: 5px 20px; //.rotateDeg(-45deg);
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      /* IE 9 */
      -moz-transform: rotate(-45deg);
      /* Firefox */
      -webkit-transform: rotate(-45deg);
      /* Safari 和 Chrome */
      -o-transform: rotate(-45deg);
      color: #fff;
      font-size: 12px;
    }
    .vavatar-mask {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .25);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 990;
      color: #f13333;
      text-align: center;
      i {
        margin-top: 40px;
      }
    }
  }
  .vcontent {
    float: left;
    width: 100%;
    text-align: left;
    position: relative;
    .vcontentheader {
      padding: 0 0 10px 0;
      margin-left: 160px;
      border-bottom: 1px solid #ccc;
      .vdatewrap {
        float: right;
        p {
          line-height: 18px;
        }
        &.singledate {
          p {
            line-height: 36px;
          }
        }
      }
    }
    .vcontentfooter {
      margin-left: 150px;
    }
    .itemcheck {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}






































/* footer */

.footerwrap {
  background: $baseBgColor;
  padding: 16px 0;
  p {
    text-align: center;
    line-height: 28px;
    margin: 0;
    color: rgba(255, 255, 255, .4);
    color: #ccc\9;
    a {
      color: rgba(255, 255, 255, .4);
      color: #ccc\9;
    }
  }
}

.mobandialog {
  .el-dialog__header {
    background: url('../assets/img/gbg.png') left top no-repeat;
    width: 100%;
    height: 238px;
    background-size: 100% 100%;
    .mobanwinstop {
      text-align: center;
      padding: 60px 0;
      color: #fff;
      font-size: 24px;
      line-height: 36px;
    }
  }
  .el-dialog__body {
    padding: 0;
    .mobanwins {
      text-align: center;
      padding: 30px 0;
      line-height: 60px;
    }
  }
}

.canvascode {
  width: 96px!important;
  height: 96px!important;
}
