@import './variables.scss';
@import './login.scss';
@import './signup.scss';
@import './guide.scss';
@import './notice.scss';
@import './moban.scss';
@import './siderbar.scss';
@import './element-ui.scss';

body {
  margin: 0;
  padding: 0;
  font-size: $baseFontSize;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-align: center;
  color: $baseFontColor;
  position: relative;
}

html {
  //height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  //color: #fff;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

ul,
li,
dt,
dl,
dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

label {
  font-weight: 700;
}

.block {
  display: block;
  overflow: hidden;
}

.barlist {
  width: 100%;
  height: auto;
  overflow: hidden;
  dt {
    height: 48px;
    line-height: 48px;
    width: 100%;
    font-size: 18px;
    text-indent: 20px;
    color: #444;
    border-bottom: 1px solid #e7e8e9;
  }
  dd {
    height: 48px;
    line-height: 48px;
    width: 100%;
    font-size: 14px;
    text-indent: 20px;
    color: #333;
    position: relative;
    .bluelines {
      width: 4px;
      height: 100%;
      background: #308ce8;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.active {
      background: #f2f3f4;
      .bluelines {
        display: block;
      }
    }
  }
}

.left {
  text-align: left;
}

.set-title {
  height: 48px;
  line-height: 48px;
  text-indent: 20px;
  font-size: 18px;
  margin: 0;
}

.borderbom {
  border-bottom: 1px solid #e7e8e9;
}

.codetitle {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  span {
    width: auto;
    float: left;
    height: 50px;
    border-bottom: 3px solid #333;
  }
}

.codecontent {
  margin: 30px auto;
  font-size: 14px;
  color: #666;
  span {
    color: #666;
    strong {
      font-size: 16px;
      font-weight: 400;
      color: #000;
    }
  }
}

.baseversion {
  text-align: center;
  h3 {
    font-size: 20px;
    color: #2c7de5;
    margin-top: 10px;
  }
  img {
    margin: 40px auto 40px auto;
  }
  p {
    font-size: 14px;
    color: #333;
  }
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.comitemwrap {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border: none;
  }
  .comlogo {
    width: 46px;
    height: 46px;
    display: inline-block;
    float: left;
    border: 1px solid #e7e8e9;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .comname {
    width: auto;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    color: #444;
    margin-left: 20px;
    display: inline-block;
    float: left;
  }
  .el-button {
    padding: 12px 10px;
  }
}

.gtitle {
  text-indent: 20px;
  line-height: 60px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.block {
  display: block;
}

.gatelist {
  width: 270px;
  max-height: 120px;
  border: 1px solid #ccc;
  overflow: auto;
  li {
    padding: 0 10px;
    line-height: 37px;
    .el-checkbox {
      margin-right: 6px;
    }
    &:nth-child(2n) {
      background: #fff;
    }
    &:nth-child(2n+1) {
      background: #d5e8fc;
    }
  }
}








/* page-container */

.page-container {
  clear: both;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding: 20px 0;
}

.marginbom20 {
  margin-bottom: 20px;
}

.page-footer {
  margin: 30px 0;
}

.margintop20 {
  margin-top: 20px;
}

.marginlr20 {
  margin-left: 20px;
  margin-right: 20px;
}

.marginr20 {
  margin-right: 20px;
}

.tiplink {
  line-height: 36px;
}

.box-section {
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0.5px 0.87px 4px 0 #b7bcc1;
  overflow: hidden;
}

.page-container-center {
  width: 1200px;
  margin: 0 auto;
}










/* button */

.el-button--redline {
  color: #e33636;
  border-color: #e33636;
}

.box-card {
  text-align: left;
  .el-card__header {
    padding: 5px 20px;
    background: rgb(238, 238, 238);
  }
}

.mheader {
  background: $baseBgColor;
  height: 60px;
  width: 100%;
  .head-logo {
    line-height: 60px;
    color: #fff;
    font-size: 36px;
  }
  .headerwrap {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    .menuleft {
      float: left;
      .el-menu {
        .el-menu-item {
          padding: 0;
          a {
            display: block;
            padding: 0 20px;
          }
        }
      }
    }
    .menuright {
      float: right;
      color: #fff;
      .gohomepage {
        color: #fff;
        display: inline-block;
        height: 60px;
        line-height: 60px;
        padding: 0 10px;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
      }
      .el-dropdown {
        color: #fff;
        height: 60px;
        line-height: 60px;
        .useravater {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          line-height: 40px;
          margin: 10px;
          display: inline-block;
          float: left;
          background: #777;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            display: inline-block;
          }
        }
        .username {
          margin: 0 5px;
        }
      }
    }
  }
}

.el-menu--horizontal {
  .el-menu--popup {
    li {
      a {
        color: #fff;
      }
    }
  }
}

.el-dropdown-menu {
  li {
    a {
      color: #000;
      display: block;
    }
  }
}



.visitwrap {
  overflow: hidden;
  &:nth-child(2n+1) {
    background: #fff;
  }
  &:nth-child(2n) {
    background: #f9f9f9;
  }
  .vavatar {
    width: 144px;
    height: 144px;
    float: left;
    overflow: hidden;
    margin-right: -100%;
    position: relative;
    img {
      width: 100%;
    }
    .vstatus {
      position: absolute;
      top: 4px;
      left: -20px;
      padding: 5px 20px; //.rotateDeg(-45deg);
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      /* IE 9 */
      -moz-transform: rotate(-45deg);
      /* Firefox */
      -webkit-transform: rotate(-45deg);
      /* Safari 和 Chrome */
      -o-transform: rotate(-45deg);
      color: #fff;
      font-size: 12px;
    }
  }
  .vcontent {
    float: left;
    width: 100%;
    text-align: left;
    .vcontentheader {
      margin-left: 150px;
      border-bottom: 1px solid #ccc;
      .vdatewrap {
        float: right;
        p {
          line-height: 18px;
        }
        &.singledate {
          p {
            line-height: 36px;
          }
        }
      }
    }
    .vcontentfooter {
      margin-left: 150px;
    }
  }
}










/* footer */

.footerwrap {
  background: $baseBgColor;
  padding: 16px 0;
  p {
    text-align: center;
    line-height: 28px;
    margin: 0;
    color: rgba(255, 255, 255, .4);
    color: #ccc\9;
    a {
      color: rgba(255, 255, 255, .4);
      color: #ccc\9;
    }
  }
}
