.language {
  color: #000;
}

.headerwrap {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  .menuleft {
    float: left;
    .el-menu {
      .el-menu-item {
        padding: 0;
        background: $baseBgColor;
        a {
          display: block;
          padding: 0 20px;
        }
      }
    }
  }
  .menuright {
    float: right;
    color: #fff;
    .gohomepage {
      color: #fff;
      display: inline-block;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      border-left: 1px solid #777;
      border-right: 1px solid #777;
    }
    .international {
      position: relative;
      top: 6px;
    }
    .el-dropdown {
      color: #fff;
      height: 60px;
      line-height: 60px;
      cursor: pointer;
      .useravater {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 10px;
        display: inline-block;
        float: left;
        background: #777;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          display: inline-block;
        }
      }
      .username {
        margin: 0 5px;
      }
    }
  }
}

.el-menu--horizontal {
  .el-menu-item.is-active {
    border-bottom-width: 6px;
    color: #fff!important;
    font-weight: bolder;
  }
  .el-submenu.is-active .el-submenu__title {
    border-bottom-width: 6px;
    color: #fff!important;
    font-weight: bolder;
  }
  .el-submenu {
    .el-submenu__title{
      color: #fff;
    }
  }
  .el-menu-item{
    color: #fff;
  }
  .el-menu--popup {
    li {
      a {
        color: #fff;
        display: block;
      }
    }
  }
  &.popper-class-demo {
    .el-menu-item.is-active {
      border-bottom-width: 6px;
      color: #909399!important;
      font-weight: bolder;
    }
    .el-submenu.is-active .el-submenu__title {
      border-bottom-width: 6px;
      color: #909399!important;
      font-weight: bolder;
    }
    .el-menu--popup {
      li {
        a {
          color: #909399;
          display: block;
        }
      }
    }
  }
}

.el-dropdown-menu {
  li {
    a {
      color: #000;
      display: block;
    }
  }
}

.mheader {
  background: $baseBgColor;
  height: 60px;
  width: 100%;
  .language {
    color: #fff;
  }
  .el-dropdown-menu__item--divided:before,
  .el-menu,
  .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
  .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
  .el-menu--horizontal>.el-submenu .el-submenu__title:hover {
    background: $baseBgColor;
    color: #fff;
  }
  .headerwrap {
    .menuleft {
      .el-menu {
        .el-menu-item {
          background: $baseBgColor;
        }
      }
    }
    .menuright {
      .el-dropdown {
        color: #fff;
        .useravater {
          background: transparent;
        }
      }
    }
  }
  &.whiteheader {
    background: $baseWhiteBgColor;
    .language {
      color: #909399;
    }
    .headerwrap {
      .menuleft {
        .el-menu {
          .el-menu-item {
            background: $baseWhiteBgColor;
          }
        }
      }
      .menuright {
        .el-dropdown {
          color: #909399;
          .useravater {
            background: transparent;
          }
        }
      }
    }
    .el-menu--horizontal {
      .el-menu-item.is-active {
        border-bottom-width: 6px;
        color: #909399!important;
        font-weight: bolder;
      }
      .el-submenu.is-active .el-submenu__title {
        border-bottom-width: 6px;
        color: #909399!important;
        font-weight: bolder;
      }
      .el-menu--popup {
        li {
          a {
            color: #909399;
            display: block;
          }
        }
      }
    }
  }
  &.eheader {
    .menuleft {
      float: left;
      .el-menu {
        .el-menu-item {
          padding: 0 20px;
        }
      }
    }
  }
}

.lheader {
  background: transparent;
  height: 60px;
  width: 100%;
  .language {
    color: #000;
  }
}
