html,body{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: PingFangSC-Regular, sans-serif;
  //font-family: PingFangSC-Ultralight, sans-serif;
  //font-family: PingFangSC-Light, sans-serif;
  //font-family: PingFangSC-Medium, sans-serif;
  //font-family: PingFangSC-Ultralight, sans-serif;
  //font-family: PingFangSC-Semibold, sans-serif;
}
p{
  margin: 0;
}
.sharewrap{
  padding:0 0.3rem;
}
.redtext{
  font-size:.28rem;
  color: #d50000;
}