body.searchcom .page-content .searchcontent .col-md-4{
  width: 33%;
  padding:0 0px 20px 0px;
  overflow: hidden;
}
body.searchcom .page-content .searchcontent .col-md-8{
  width: 66%;
  float: right;
  padding:0;
  min-height: 200px;
  border:1px solid rgb( 204, 204, 204 );
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0.5px 0.866px 4px 0px rgb( 183, 188, 193 );
}
body.searchcom .page-content .searchcontent .col-md-12{
  width: 100%;
  padding:0;
  min-height: 200px;
  border:1px solid rgb( 204, 204, 204 );
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0.5px 0.866px 4px 0px rgb( 183, 188, 193 );
}
body.searchcom .page-content .searchcontent .hint {
  font-size: 22px;
  text-align: center;
  padding-top: 50px;
  color: #999999;
}
body.searchcom .searchcontent .col-md-4 .sidebar {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding:0 19px;
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0.5px 0.866px 4px 0px rgb( 183, 188, 193 );
}
body.searchcom .page-content .searchcontent .sidebar .form-group{
  overflow: visible;
}
body.searchcom .page-content .searchcontent .sidebar .option1 {
  position: relative;
}
body.searchcom .page-content .searchcontent .sidebar .option1 .sep {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 15px;
  width: 1px;
  background: #ccc;
  margin-top: -7px;
}
body.searchcom .page-content .searchcontent .sidebar .option1 input {
  float: left;
  width: 50%;
  border: none !important;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding-left: 22px;
}
body.searchcom .page-content .searchcontent .sidebar .option1 .select-wrap {
  width: 100%;
  height: 37px;
  line-height: 37px;
  float: left;
}
body.searchcom .page-content .searchcontent .sidebar .option1 .select-wrap .btn-group {
  width: 100%;
  background: #fff;
  border:1px solid #ccc
}
body.searchcom .page-content .searchcontent .sidebar .option1 .select-wrap .btn,body.search .page-content .sidebar .option3 .select-wrap .btn {
  border-radius: 0;
  background: transparent;
  color: #444;
  width: 100%;
  display: block;
  outline: none !important;
  height: 37px;
  line-height: 37px;
  font-size: 14px;
  padding: 0;
  padding-left: 13px;
}
body.searchcom .page-content .searchcontent .sidebar .option1 .select-wrap .btn .filter-option {
  display: block;
}
body.searchcom .page-content .searchcontent .sidebar .option1 .select-wrap .btn .caret {
  color: #999;
  right: 15px;
}
body.searchcom .page-content .searchcontent .sidebar .option3 .select-wrap .btn .caret{
  color: #999;
  right: 15px;
}
body.searchcom .page-content .searchcontent .sidebar .option1 .select-wrap div.dropdown-menu,body.search .page-content .sidebar .option3 .select-wrap div.dropdown-menu {
  width: 151px;
  border-radius: 0;
  padding: 5px 0;
  margin-top: 0;
  margin-left: -1px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body.searchcom .page-content .searchcontent .sidebar .option1 .select-wrap div.dropdown-menu li a,body.search .page-content .sidebar .option3 .select-wrap div.dropdown-menu li a {
  outline: none !important;
  font-size: 14px;
  font-weight: normal;
  color: #666666;
  padding: 4px 15px;
}
body.searchcom .page-content .searchcontent .sidebar .option1 .select-wrap .btn-group.open .dropdown-toggle,body.search .page-content .sidebar .option3 .select-wrap .btn-group.open .dropdown-toggle {
  box-shadow: none !important;
}
body.searchcom .page-content .searchcontent .sidebar .option1 .select-wrap button {
  box-shadow: none !important;
}
body.searchcom .page-content .searchcontent .sidebar .option3{
  position: relative;
}
body.searchcom .page-content .searchcontent .sidebar .option3 .form-control{
  width: 100%
}
body.searchcom .page-content .searchcontent .sidebar .option3 .select-wrap{
  width: 100%;
  position: absolute;
  top:0px;
  left: 0;
  border:1px solid #ccc
}
body.searchcom .page-content .searchcontent .sidebar .option3 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
  width: 100%;
  background: #fff
}
body.searchcom .page-content .searchcontent .sidebar .option2 {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  position: relative;
}
body.searchcom .page-content .searchcontent .sidebar .option2 .from,
body.searchcom .page-content .searchcontent .sidebar .option2 .to {
  display: inline-block;
  float: left;
  width: 142px;
  padding: 0;
  outline: none;
  text-align: center;
  cursor: pointer;
  height: 37px;
  line-height: 37px;
  border: 1px solid rgb( 204, 204, 204 );
  background: #fff;
  color: #444;
  font-size: 14px;
}
body.searchcom .page-content .searchcontent .sidebar .option2 .sep {
  font-size: 14px;
  color: #999;
  text-align: center;
  display: inline-block;
  float: left;
  width: 16px;
  height: 37px;
  line-height: 37px;
}
body.searchcom .page-content .searchcontent .sidebar .last .btn {
  width: 100%;
  border-radius: 5px;
  height: 44px;
  line-height: 44px
}
body.searchcom .page-content .searchcontent .list-header .exportwrap,body.searchcom .page-content .list-header .today{
  width: auto;
  float: right;
  padding:0 10px;
  text-align: center;
  height:29px;
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(235,235,235) 0%, rgb(250,250,250) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(235,235,235) 0%, rgb(250,250,250) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(235,235,235) 0%, rgb(250,250,250) 100%);
  border:1px solid #ccc;
}
body.searchcom .page-content .searchcontent .list-header .today a {
  border:none;
}
body.searchcom .page-content .searchcontent .list-header .today{
  margin-right: 8px;
}
body.searchcom .page-content .searchcontent .list-header a.export,body.search .page-content .list-header .today a{
    color: #444;
    font-size: 12px;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    text-indent: 0px;
    line-height:29px;
    border:none
    
}
body.searchcom .page-content .searchcontent .visitor-list .marked {
  color: #566ebb !important;
}
body.searchcom .searchcontent .pie-title{
  color: #333333;
    font-size: 18px;
    color: #333333;
    width: 100%;
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
body.searchcom .page-content .searchcontent .ui-datepicker {
  z-index: 99999 !important;
  font-family: Arial, sans-serif;
  padding: 0;
  width: 300px;
  margin-left: -1px;
  margin-top: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header {
  border: none;
  background: transparent;
  color: #666666;
  border-radius: 0;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header a.ui-corner-all {
  top: 5px;
  left: 0;
  cursor: pointer;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header a.ui-corner-all:hover {
  border: none;
  background: transparent;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header a.ui-corner-all .ui-icon {
  background: url(../img/left2.png) no-repeat;
  background-size: 10px !important;
  background-position: left;
  width: 20px;
  height: 32px !important;
  cursor: pointer;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header a.ui-corner-all .ui-icon:hover {
  background: url(../img/left2.png) no-repeat;
  background-size: 10px !important;
  background-position: left;
  opacity: .7;
  border: none;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header a.ui-datepicker-prev {
  margin-left: 10px;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header a.ui-datepicker-next {
  margin-right: 10px;
  left: auto;
  right: 0 !important;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header a.ui-datepicker-next .ui-icon {
  background: url(../img/right2.png) no-repeat;
  background-size: 10px !important;
  background-position: right;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header a.ui-datepicker-next .ui-icon:hover {
  background: url(../img/right2.png) no-repeat;
  background-size: 10px !important;
  background-position: right;
  opacity: .7;
  border: none;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-datepicker-header {
  padding: 10px 0;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-datepicker-title {
  font-weight: normal;
  color: #566ebb;
  font-size: 18px;
  border-radius: 0;
}
body.searchcom .page-content .searchcontent .ui-datepicker th {
  font-weight: normal;
  font-size: 16px;
  color: #999999;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-state-default,
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-content .ui-state-default,
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header .ui-state-default {
  border: none;
  background: transparent;
  color: #999999;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 8px;
  text-align: center;
  margin: 0 3px;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-state-default:hover,
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-content .ui-state-default:hover,
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header .ui-state-default:hover {
  color: #fff;
  background: #aabaef;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-state-highlight,
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-content .ui-state-highlight,
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header .ui-state-highlight {
  color: #333333;
  font-weight: bold;
}
body.searchcom .page-content .searchcontent .ui-datepicker .ui-state-active,
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-content .ui-state-active,
body.searchcom .page-content .searchcontent .ui-datepicker .ui-widget-header .ui-state-active {
  color: #fff !important;
  background: #566ebb !important;
}