@import (reference) 'reference.less';

body.guide {
  background: #f3f3f3;
  .container {
    width: 880px !important;
  }
  .wrapper {
    position: relative;
    background: #fff;
    box-shadow: 0 3px 27px rgba(0,0,0,0.03);
  }
  div.steps {
    position: absolute;
    top: 22px;
    right: -21px;
    background: url(../img/dr.png) no-repeat right;
    width: 86px;
    height: 70px;
    color: #fff;
    font-size: 20px;
    padding: 10px 0 0 25px;
  }
  .guide-branding {
    margin-top: 80px;
    margin-bottom: 27px;
    h1.logo {
      padding: 0;
      margin: 0;
      a {
        width: 150px;
        height: 52px;
        background: url(../img/guide-logo.png) no-repeat left;
        text-indent: -999em;
        display: inline-block;
        padding: 0;
      }
    }
  }
  .page-content {
    margin-bottom: 150px;
    .header {
      padding-top: 60px;
      padding-bottom: 60px;
      text-align: center;
      h1 {
        margin: 0;
        margin-bottom: 33px;
        img {
          display: inline-block;
        }
      }
      .des {
        font-size: 18px;
        color: @text_3;
        width: 520px;
        margin: 0 auto;
      }
    }
    .form {
      background: #e7f1fb;
      position: relative;
      padding: 60px 180px;
      .arrow {
        background: url(../img/arrow-g.png) no-repeat bottom;
        width: 34px;
        height: 23px;
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -17px;
      }
    }
    .footer {
      padding: 40px 180px 50px;
      text-align: center;
      .hint {
        font-size: 16px;
        color: @text_3;
        margin-bottom: 20px;
      }
      .btn {
        width: 100%;
        border-radius: 0;
        background: #3481dd;
        height: 55px;
        line-height: 55px;
      }
    }
  }
}

body.guide.g1 {
  
  .wrapper {

  }
  .wrap {
    overflow: hidden;
    p {
      margin: 0;
      font-size: 16px;
    }
    .image-preview {
      background: url(../img/ph.png) no-repeat left;
      width: 138px;
      height: 138px;
      float: left;
      .img-wrap {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        width: 138px;
        height: 138px;
        img {
          max-width: 100%;
        }
        .delete-mask {
          display: none;
          width: 120px;
          height: 120px;
          background: rgba(0, 0, 0, 0.25);
          position: absolute;
          left: 0;
          top: 0;
          .delete {
            background: url(../img/delete.png) center;
            height: 50px;
            width: 50px;
            display: inline-block;
            margin: 35px 0 0 35px;
            cursor: pointer;
            opacity: .9;
            &:hover {
              opacity: 1;
            }
          }
        }
        &:hover {
          .delete-mask {
            display: block;
          }
        }
      }
    }
    .image-preview.image-added {
      background: none;
    }
    .right {
      float: left;
      margin-left: 20px;
      position: relative;
      .hint {
        margin-bottom: 25px;
        margin-top: 10px;
      }
      p {
        font-size: 15px;
      }
      input[type=file] {
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 132px;
        height: 47px;
      }
    }
  }
  .form {
    background: #e7f1fb;
    position: relative;
    padding: 60px 180px;
    .name {
      font-size: 24px;
      margin-bottom: 15px;
    }
    .form-group {
      margin-bottom: 50px;
      .hint {
        margin-top: 10px;
        font-size: 15px;
      }
    }
    .form-group:last-child {
      margin-bottom: 0;
    }
    .arrow {
      background: url(../img/arrow-g.png) no-repeat bottom;
      width: 34px;
      height: 23px;
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -17px;
    }
  }
}      


body.guide.g2 {
  .wrapper {
    .form {
      .name-group {
        overflow: hidden;
        margin-bottom: 15px;
        font-size: 18px;
        .name {
          float: left;
          width: 153px;
          margin-right: 15px;
        }
        .name:last-child {
          margin-right: 0;
        }
      }
      .form-group {
        overflow: hidden;
        .btn {
          margin-top: 15px;
        }
        .form-control {
          width: 153px;
          margin-right: 15px;
          float: left;
        }
        .form-control:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

body.guide.g3 {
  .wrapper {
    .form {
      height: 613px;
      position: relative;
      background: url(../img/pad-g.png) no-repeat top;
      .opt-group {
        position: absolute;
        left: 301px;
        top: 283px;
        color: @text_1;
        .opt {
          position: absolute;
          left: 0;
          width: 200px;
          margin-bottom: 50px;
        }
        .opt1 {
          top: 0;
        }
        .opt2 {
          top: 70px;
        }
        .opt3 {
          top: 148px;
        }
        .opt4 {
          top: 221px;
        }
      }
      .form-group.last {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 490px;
        z-index: 999;
        .btn {
          display: inline-block;
          margin-bottom: 20px;
        }
      }
      .mask {
        background: url(../img/mask-g.png) repeat-x bottom;
        width: 100%;
        height: 160px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

body.guide.g3_2 {
  .wrapper {
    .form {
      .form-group.last {
        text-align: center;
        .btn {
          display: inline-block;
        }
      }
    }
  }
}


body.guide.g4 {
  .wrapper {
    .form {
      padding: 60px;
      .setting-list {
        margin-bottom: 0;
        width: 730px;
        >li {
          background-color: #fff;
          border: none;
        }
      }
    }
  }
}

body.guide.g5 {
  .wrapper {
    .form {
      padding: 30px 180px;
      ul.steps {
        margin-bottom: 60px;
        font-size: 18px;
        padding-left: 0;
        list-style: none;
        li {
          background: url(../img/s1-g.png) no-repeat 0 3px; 
          padding-left: 35px;
          line-height: 30px;
        }
        li + li {
          background: url(../img/s2-g.png) no-repeat 0 3px;
        }
        li + li + li{
          background: url(../img/s3-g.png) no-repeat 0 3px;
        }
      }
      .code {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
      }
      .info {
        text-align: center;
        font-size: 14px;
        color: @text_3;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}