<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>来访通</title>
    <link href="./static/img/favicon.png" rel="icon">
    <script type="text/javascript" src="https://api.map.baidu.com/getscript?v=2.0&ak=feFZOo3dDQ6v4aeguiW6jGFV&services=&t=20180323171755"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCEel8sb5rlDx6iYgAULFmnxrnX2k8RUIE&sensor=false"></script>
  </head>
  <body class="index">
    <script src=./static/tinymce4.7.5/tinymce.min.js></script>
    <!-- <script src=./<%= htmlWebpackPlugin.options.path %>/tinymce4.7.5/tinymce.min.js></script> -->
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
